html{
    background-image: linear-gradient(to bottom, white 0%, pink 100%);
}
body{
    width: 1000px;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: auto;
    padding: 15px 1.5em;
    border: 1px gold;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;    
}
a:focus, a:hover{
    font-style: italic;
    color:palevioletred
}
header h1 {
    font-size: 175%;
    color: turquoise;
    text-indent: 30px;
}
header h2 {
    font-size: 130%;
    color: yellow;
    text-indent: 30px;
}
img {
    float: left;
    margin-left: auto;
    height: 100px;
    width: 100px;
    border: 25px aqua;
    border-radius: 100px;
}
shadow {
    text-shadow: 2px 2px 2px cornflowerblue;
}
main{
    clear: left;
}
main h3 {
    margin-top: 3em;
    font-size: 105%;
    border: 5px aqua;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px palevioletred;
    padding: 1em;
}
main nav {
    margin: 1.5em 2em 1.5em;
    border: 5px dashed aqua;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px palevioletred;
    padding: .5em;
}
#list{
    line-height: 1.5em;

}
div.contact{
    margin: 1.5em 2em 0em;
    border: 5px dotted aqua;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px palevioletred;
    padding: 1em;
}
footer p.copyright {
    text-align: center;
    font-size: 80%;
}
