html{
    background-image: linear-gradient(to left, white 0%, pink 35%);
}

nav {
    background-color: #333;
    list-style-type: none;
    float: left;
    text-align: center;
    display: block;
    width: 350px;
    padding:       
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    color: yellow;
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
}

nav li {
    margin: 0 20px; 
}

nav a {
    color: #fff; 
    text-decoration: none; 
}


aside ol {
    list-style-type: upper-roman; 
}

aside ul {
    list-style-type: square; 
}

