html{
    background-image: linear-gradient(to left, white 0%, pink 35%);
}


nav {
    background-color:palevioletred; 
    list-style-type: none; 
    float: left; 
    text-align: center;
    display: block;
    width: 400px;
    padding: 1em 0;      
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
    border-right: none;
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
}

nav li {
    margin: 0 20px; 
}

nav a {
    color:palevioletred; 
    text-decoration: none; 
}


aside ol {
    list-style-type: upper-roman; 
}

aside ul {
    list-style-type: square; 
}
