html{
    background-image: linear-gradient(to left, white 0%, pink 50%);
}


nav {
    background-color:palevioletred; 
    list-style-type: none; 
    float: left; 
    text-align: center;
    display: block;
    width: 175px;
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
}

nav li {
    margin: 0 20px; 
}

nav a {
    color:palevioletred; 
    text-decoration: none; 
}


aside ol {
    list-style-type: upper-roman; 
}

aside ul {
    list-style-type: square; 
}
