html{
    background-image: linear-gradient(to left, white 0%, pink 35%);
}

nav {
    background-color: #333; 
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
}

nav li {
    margin: 0 20px; 
}

nav a {
    color: #fff; 
    text-decoration: none; 
}


aside ol {
    list-style-type: upper-roman; 
}

aside ul {
    list-style-type: square; 
}

