nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color:plum;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

body {
    width: 95%;
    margin: 15px auto;
    font-family: Arial, sans-serif;
}

article {
    clear:both;
    float:left;
    width: 75%;
    column-count: 3;
    column-rule: 5px dotted hotpink;
    column-gap: 2em;
    margin-left: 2em;
    column-span: all;
}

article h1 {
    color: hotpink;
}
article h2 {
    color: hotpink
}
article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}


aside {
    width: 20%;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 5;
    background-color: pink;
    padding: 0.1em 2em 2em;
    border: 2px solid red;
}

aside ul {
    list-style-type: upper-roman;
}

aside ul, aside li {
    padding: 0;
    margin: 0;
}

.large-bold-italic {
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}
footer{
    clear:both;
    border-top:  2px solid blue;
    text-align: center;
    font-size: 80%;
}