nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

body {
    width: 95%;
    margin: 15px auto;
    font-family: Arial, sans-serif;
}

article {
    clear:both;
    float:left;
    width: 75%;
    column-count: 3;
    column-rule: 2px dotted cornflowerblue;
    column-gap: 2em;
    margin-left: 2em;
    column-span: all;
}

article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}


aside {
    width: 20%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: pink;
    padding:0.1em 1em 2em; 
    float: right;
}

aside ul {
    list-style-type: upper-roman;
}

aside ul, aside li {
    padding: 0;
    margin: 0;
}

.large-bold-italic {
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}
footer p.copyright {
    text-align: center;
    font-size: 80%;
}
footer p.copyright{
    text-align: center;
    font-size: 80%;
}
p.fixed{
    width:auto;
    position: fixed;
    bottom: 35%;
    right: 0;
    border:3px solid blue;
    background-color: aqua;
    padding: 1em;
}