nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

body {
    width: 95%;
    margin: 15px auto;
    font-family: Arial, sans-serif;
}

article {
    clear:both;
    float:left;
    width: 40%;
    column-count: 3;
    column-rule: 2px dotted palegreen;
    column-gap: 2em;
    margin-left: 2em;
}

article img {
    float: left;
    margin: 10px;
}


aside {
    width: 20%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #f0f0f0;
    padding: 20px;
}

aside ul {
    list-style-type: upper-roman;
}

aside ul, aside li {
    padding: 0;
    margin: 0;
}

.large-bold-italic {
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}