#nav_menu ul {
    list-style-type: none;
    padding: 1em;
    margin: 1em;
    height: fit-content;
    border-bottom: 5px solid rgb(77, 9, 237);
}

#nav_menu ul li {
    float: left;
    margin-right: 2px;
    position: relative;
    border-bottom: 2px solid rgb(77, 9, 237);
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: plum;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;

body {
    width: 95%;
    margin: 15px auto;
    font-family: Arial, sans-serif;
}

article {
    clear:both;
    float:left;
    width: 75%;
    column-count: 3;
    column-rule: 5px dotted hotpink;
    column-gap: 2em;
    margin-left: 2em;
    column-span: all;
}

article h1 {
    color: hotpink;
}
article h2 {
    color: hotpink
}
article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}


aside {
    width: 20%;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 5;
    background-color: pink;
    padding: 0.1em 2em 2em;
    border: 3px solid purple;
}

aside ul {
    list-style-type: upper-roman;
}

aside ul, aside li {
    padding: 0;
    margin: 0;
}

.large-bold-italic {
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}
footer{
    clear:both;
    border-top:  2px solid plum;
    text-align: center;
    font-size: 80%;
}