html{
    background-image: linear-gradient(to left, white 0%, pink 100%);
}
body{
    width: 90%;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: auto;
    padding: 15px 1.5em;
    border: 1px gold;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;    
}
a:focus, a:hover{
    font-style: italic;
    color:palevioletred;
    border: 3px purple;
    border-style: dotted;
}
header h1 {
    font-size: 175%;
    color: turquoise;
    text-indent: 30px;
}
header h2 {
    font-size: 130%;
    color: yellow;
    text-indent: 30px;
}
img {
    float: left;
    margin-left: auto;
    height: 100px;
    width: 100px;
    border: 25px aqua;
    border-radius: 100px;
}
shadow {
    text-shadow: 2px 2px 2px cornflowerblue;
}
article {
    clear:both;
    float:left;
    column-count: 2;
    column-rule: 2px dotted palegreen;
    column-gap: 2em;
    margin-left: 2em;
}
article h3{
    column-span: all;
}
article img{
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
article p::first-letter {

}