html, body {
    margin: 0;
    height: 100%;
    font-size: 100%;
  }
  
  * {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  

  .top-nav a {
    text-decoration: none;
    color: white;
  }
  
  .menu a:hover,
  .menu .current {
    text-decoration: underline;
  }
  
  /* Styles for article */
  article {
    padding: 0 1em;
  }
  
  article h2 {
    font-size: 1.25em;
  }
  
  article p {
    font-size: 1em;
  }
  
  article img {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 760px;
  }
  
  /* Styles for footer */
  footer {
    border-top: 2px solid #f46b45;
    text-align: center;
    font-size: 0.8em;
  }
  
  /* Media query for small screens */
  @media screen and (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
  
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
  
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  
    /* Adjusted styles for small screens */
    article h2 {
      font-size: 1.1em;
    }
  
    article p {
      font-size: 0.8em;
    }
  
    footer {
      border-top: 1px solid #f46b45;
      text-align: center;
      font-size: 0.6em;
    }
  }